[submodule "TensorCrossInterpolation.jl"]
	path = TensorCrossInterpolation.jl
	url = git@github.com:tensor4all/TensorCrossInterpolation.jl.git
[submodule "QuanticsGrids.jl"]
	path = QuanticsGrids.jl
	url = git@github.com:tensor4all/QuanticsGrids.jl.git
[submodule "QuanticsTCI.jl"]
	path = QuanticsTCI.jl
	url = git@github.com:tensor4all/QuanticsTCI.jl.git
[submodule "T4APlutoExamples"]
	path = T4APlutoExamples
	url = git@github.com:tensor4all/T4APlutoExamples.git
[submodule "TCIAlgorithms.jl"]
	path = TCIAlgorithms.jl
	url = git@github.com:tensor4all/TCIAlgorithms.jl.git
[submodule "TreeTCI.jl"]
	path = TreeTCI.jl
	url = git@github.com:tensor4all/TreeTCI.jl.git
[submodule "SimpleTensorTrains.jl"]
	path = SimpleTensorTrains.jl
	url = git@github.com:tensor4all/SimpleTensorTrains.jl.git
[submodule "FastMPOContractions.jl"]
	path = FastMPOContractions.jl
	url = git@github.com:tensor4all/FastMPOContractions.jl.git
[submodule "Quantics.jl"]
	path = Quantics.jl
	url = git@github.com:tensor4all/Quantics.jl.git
[submodule "T4ARegistry"]
	path = T4ARegistry
	url = git@github.com:tensor4all/T4ARegistry.git
[submodule "T4ARegistrator.jl"]
	path = T4ARegistrator.jl
	url = git@github.com:tensor4all/T4ARegistrator.jl.git
[submodule "T4ATemplate.jl"]
	path = T4ATemplate.jl
	url = git@github.com:tensor4all/T4ATemplate.jl.git
